<!DOCTYPE html>
<html>

<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="402247694391-81ana79r1ucjj067nc7rv31luvk26csg.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Google-Sign-In</title>
</head>

<body>
    <h1>LOGIN</h1>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log(googleUser.xc.id_token);
            return googleUser.xc.id_token
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                console.log('User signed out.');
            });
        }
    </script>
    <!-- <script defer src="/resources/renderExample.js" type="application/javascript"></script> -->
</body>

</html>